@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Londrina+Solid&family=Rubik&display=swap');

body {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
}

/* HEADER/NAV STYLES
-------------------------------*/
header {
    background-color: rgb(155, 146, 218);
}

nav>div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}

nav>div>img {
    width: 80px;
    height: 80px;
}

/* MAIN BODY STYLES
-------------------------------*/
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 20px; */
}

#add-book {
    font-weight: 900;
    border: 2px;
    border-radius: 10px;
    background-color: rgb(230, 230, 250);
    margin-bottom: 20px;
    height: 40px;
    width: 100px;
}

#add-book:hover {
    scale: 1.05;
    cursor: pointer;
}

/* MAIN - FORM STYLES
--------------*/
.book-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form-container {
    color: rgb(255, 255, 255);
    background-color:  rgb(130, 121, 186);
    padding: 40px;
    border-radius: 10px;
}

.book-form input {
    padding: 5px;
    border: 2px solid rgb(142, 134, 168);
    border-radius: 5px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.radio-container {
    display: flex;
}

.book-form button {
    font-size: large;
    padding: 7px;
    margin-top: 5px;
    border: none;
    border-radius: 10px;
    width: 48%;
}

.book-form button:hover {
    cursor: pointer;
}

.add-btn {
    background-color: rgb(0, 255, 72);
}

.cancel-btn {
    background-color: rgb(237, 99, 99);
}

/* MAIN - BOOK CONTAINER/CARDS STYLES
--------------*/
#books-container {
    display: grid;
    gap: 20px;
}

.book-card {
    display: flex;
    flex-direction: column;
    background-color: rgb(251, 251, 251);
    border-radius: 10px;
    box-shadow: 0 5px 8px rgb(199, 199, 199);
    padding: 10px;
    width: 250px;
    height: 350px;
}

/* MODAL STYLES
-------------------------------*/
.jw-modal {
    display: none;
    position: fixed;
    inset: 0;
    z-index: 10000;
    background-color: rgba(0, 0, 0, .75);
    padding: 20px;
    /* overflow: auto; */
}

.open {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body.jw-modal-open {
    overflow: hidden;
}